body {
    font-family: "Montserrat", sans-serif;
}

#input-snackbar {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
    padding: 8px 16px;
    transition: border 250ms ease-in-out;
    outline: none;
}

#input-snackbar:hover {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}

#input-snackbar:active {
    border: 1px solid rgb(78, 117, 255);
    border-radius: 4px;
}

#fieldset-snackbar {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

#fieldset-snackbar:hover {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}

#legend-snackbar, #label-snackbar {
    font-size: 16px;
}

#button-snackbar {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    margin-top: 32px;
    border: none;
    border-radius: 8px;
    background-color: rgb(78, 117, 255);
    outline: none;
    transition: background-color 250ms ease-in-out;
}

#button-snackbar:hover {
    background-color: rgb(108, 140, 255);;
}